

.wrap div{
	font-size: 60px;
	color: gray;
	width: 22.5%;
	float: left;
	text-align: center;
	height: 100%;
	margin: 1.125%;
	padding-top: 0%;
	border: 0px solid white;
	border-radius: 28%;
}

.one {
	background-color: lightblue;
}

.wrap .two {
	background-color: blue;
	color: white;
}

.three {
	background-color: aqua;
}

.wrap .four {
	background-color: darkblue;
	color: white;
}

/* =================================================================================
		media queries
 ================================================================================= */

 /* rules for smaller screens */
 @media only screen and ( max-width: 768px ) {
	.wrap div {
		width: 48%;
		font-size: 40px;
		margin: 1%;
		padding-top: 1%;	
		border: 0px solid white;
		border-radius: 28%;

	}
 }

 /* rules for print screen */

 @media print {
 	* {
 	 	background-color: transparent;
 		color: #000;
 		text-shadow: none;
 	}
 	.wrap div {
 		width: 90%;
 		height: 50pt;
		font-size: 12pt;
		margin: 1%;
		padding-top: 1%;	
 		border: 2pt solid #000;
 		border-radius: 15%;
 	}
 }

